.profile__button-edit {
  margin-left: 18px;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #fff;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
