.popup__form-button {
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding: 16px;
  color: #fff;
  background-color: #000;
  border: none;
  outline: none;
  margin-top: 18px;
  cursor: pointer;
  transition: opacity .3s;
}

.popup__form-button:hover {
  opacity: 0.6;
}
